/* 
	 
	 <!--Greg Wegner  Web and Distributed programming-->
     <!--Assignment 3, Summer 2018-->
     <!--Map Mania Lite-->
*/
/*my code*/
h1 {
    color: blue;
}
p {
    color: red;
}
body {
    background-color: powderblue;
}
h2 {
    color: blue;
}
p {
    color: red;
}
body {
    background-color: powderblue;
}
h3 {
    color: blue;
}
p {
    color: red;
}
body {
    background-color: powderblue;
}
h4 {
    color: black;
}
p {
    color: red;
}